[submodule "Angular"]
	path = Angular
	url = https://github.com/Yash0697/Angular.git
[submodule "HTML-Web-Basics"]
	path = HTML-Web-Basics
	url = https://github.com/Yash0697/HTML-Web-Basics.git
[submodule "Angular_Assignments"]
	path = Angular_Assignments
	url = https://github.com/Yash0697/Angular.git
[submodule "CSS-Web_Basics"]
	path = CSS-Web_Basics
	url = https://github.com/Yash0697/CSS-Web-Basics.git
