[submodule "CSS-Web-Basics"]
	path = CSS-Web-Basics
	url = https://github.com/Yash0697/CSS-Web-Basics.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/Yash0697/Angular.git
[submodule "HTML_Web_Basics"]
	path = HTML_Web_Basics
	url = https://github.com/Yash0697/HTML-Web-Basics.git
